<form class="form" [formGroup]="filterForm">
  <h3>Фильтр</h3>
  <div class="form__inputs-container">

    <div class="container container_wrap">

      <div class="form__input-container">
        <label for="name">Логин</label>
        <div class="input">
          <input placeholder="" type="text" id="name" name="name" formControlName="name">
          <button class="clear" (click)="clearField('name')">
            <mat-icon class="cancel">cancel</mat-icon>
          </button>
        </div>
      </div>

      <div class="form__input-container">
        <label for="phone">Телефон</label>
        <div class="input">
          <input placeholder="" type="tel"  id="phone" name="phone" formControlName="phone" (input)="formatPhoneNumber($event)">
          <button class="clear" (click)="clearField('phone')">
            <mat-icon class="cancel">cancel</mat-icon>
          </button>
        </div>
      </div>

      <div class="form__input-container">
        <label for="create_at">Дата создания</label>
        <div class="input date">
          <input placeholder=" " class="date-input" type="date" id="create_at" name="create_at"
                 formControlName="create_at">
        </div>
      </div>

      <div class="form__input-container">
        <label for="status">Статус</label>
        <div class="input">
          <select id="status" name="status" formControlName="status">
            <option value="all">Все</option>
            <option value="ACTIVE">Активен</option>
            <option value="BLOCKED">Заблокирован</option>
          </select>
        </div>
      </div>

      <div class="form__input-container">
        <label for="email">E-mail</label>
        <div class="input">
          <input type="email" placeholder="" id="email" name="email" formControlName="email">
          <button class="clear" (click)="clearField('email')">
            <mat-icon class="cancel">cancel</mat-icon>
          </button>
        </div>
      </div>

      <div class="form__input-container">
        <label for="is_admin">Роль</label>
        <div class="input">
          <select id="is_admin" name="is_admin" formControlName="is_admin">
            <option value="all">Все</option>
            <option [ngValue]=false>Пользователь</option>
            <option [ngValue]=true>Администратор</option>
          </select>
        </div>
      </div>

      <div class="form__input-container">
        <label for="update_at">Дата изменения</label>
        <div class="input date">
          <input placeholder="" class="date-input" type="date" id="update_at" name="update_at"
                 formControlName="update_at">
        </div>
      </div>
    </div>

    <div class="container">
      <button mat-flat-button color="warn" (click)="applyFilters()">Применить</button>
      <button mat-flat-button color="warn" (click)="changeFilterState()">Отмена</button>
      <button mat-flat-button color="warn" (click)="resetFilters()">Сбросить</button>
    </div>
  </div>
</form>
