<div class="wrapper">
  <a href="#" class="back">
    <span class="material-icons gray"> arrow_back_ios </span> Назад
  </a>

  <h2>Настройка учетных записей сотрудников контрагента</h2>

  <div class="container jc-sb">
    <div class="container">
      <button mat-flat-button color="warn">
        <span>Добавить</span>
        <mat-icon>add_circle_outline</mat-icon>      </button>
      <button mat-flat-button color="warn">
        <span>Разблокировать</span>
        <mat-icon>check_circle_outline</mat-icon>
      </button>
      <button mat-flat-button color="warn">
        <span>Заблокировать</span>
        <mat-icon>highlight_off</mat-icon>
      </button>
    </div>

    <button mat-flat-button color="warn" (click)="filter = !filter">
      <span>Фильтр</span>
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>

  <app-filter *ngIf="filter"></app-filter>

  <app-table></app-table>

</div>
