<div class="wrapper">
  <a href="#" class="back">
    <span class="material-icons gray"> arrow_back_ios </span> Назад
  </a>

  <h2>Настройка учетных записей сотрудников контрагента</h2>

  <div class="container jc-sb">
    <div class="container">

      <button mat-flat-button color="primary" (click)="clearLocal()">
        Добавить
        <mat-icon iconPositionEnd>add_circle_outline</mat-icon>
      </button>

      <button mat-flat-button color="primary" (click)="unblockUser()">
        Разблокировать
        <mat-icon iconPositionEnd>check_circle_outline</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="blockUser()">
        Заблокировать
        <mat-icon iconPositionEnd>highlight_off</mat-icon>
      </button>
    </div>

    <button mat-flat-button color="accent" [disabled]="filter()" (click)="controlFilter()">
      <mat-icon>filter_list</mat-icon>
      <span>Фильтр</span>

    </button>
  </div>

  <app-filter *ngIf="filter()"></app-filter>

  <app-table></app-table>

</div>
