/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: "Moscow Sans";
  src: url("./assets/fonts/MoscowSans-Regular.ttf");
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Moscow Sans", sans-serif;
  background-color: #F5F6F7;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 1.5rem;
}

.container {
  display: flex;
  align-items: center;
  max-width: 100%;
  gap: 1.5rem;

  &_wrap {
    flex-wrap: wrap;
  }
}

.jc-sb {
  justify-content: space-between;
}

.green {
  color: rgba(37, 181, 83, 1);
}

.red {
  color: rgba(255, 0, 31, 1);
}
.gray {
  color: #666F78;
}




