.table {
  background: #FFF;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
  //max-width: 78.9375rem;

  &__header {
    background: #DA2032;
    color: #FFFFFF;
    //text-align: center;
  }

  &__row {
    text-align: center;
  }

  &__action-btn {
    color: rgba(40, 40, 40, 1);
    border-radius: 50%;
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0 auto;

    &:hover {
      background-color: #d3d6d7;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.paginator {
  display: flex;
  padding: 1.5rem 4.5rem;
  gap: 2.69rem;

  &__item-container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  &__records {
    margin-left: .5rem;
    color: #666F78;
  }
}

.customSelect {
  position: relative;
  width: 4.0625rem;
  height: 1.5rem;
  box-sizing: border-box;
  outline: none;
  border-radius: 0.25rem;
  border: 1px solid rgba(130, 140, 150, 0.40);
  overflow: hidden;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5 7H12L8.5 11L5 7Z' fill='%23CBCDD2'/%3E%3C/svg%3E%0A") no-repeat center right;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1.2rem;
    width: 2px;
    height: 1.5rem;
    display: block;
    background-color: rgba(130, 140, 150, 0.40);
  }

  & select {
    background: transparent;
    -webkit-appearance: none;
    border: 0;
    width: 100%;
    height: 100%;
    outline: none;
    padding: .12rem .6rem  ;
    font-family: Moscow Sans, serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.125rem;
  }
}

.selected {
  color: #666F78;
}

.top-border {
  border-top: 0.06rem solid #C4C4C4;
}

.mdc-data-table__cell, .mat-mdc-header-cell   {
  text-align: center;
}



